@model kutuphane24.Models.TblUye

@{
    ViewData["Title"] = "UyeEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Üye Ekle</h1>

<form class="form-group" method="post">
    <div>
        <label>Üye Adı</label>
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Ad, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Üye Soyadı</label>
        @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Soyad, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Mail</label>
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Mail, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.KullaniciAdi, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Şifre</label>
        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Sifre, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Fotağraf</label>
        @Html.TextBoxFor(x => x.Fotograf, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Fotograf, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Telefon</label>
        @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Telefon, "", new { @style = "color:red" })
    </div>
    <div>
        <label>Okul Adı</label>
        @Html.TextBoxFor(x => x.Okul, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Okul, "", new { @style = "color:red" })
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Üye Ekle</button>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

