@model kutuphane24.Models.TblHareket

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblHareket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Personel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Personel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlısTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlısTarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.İadeTarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.İadeTarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KitapNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KitapNavigation.KitapId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UyeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UyeNavigation.UyeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HareketId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
