@model kutuphane24.Models.TblKitap

@{
    ViewData["Title"] = "KitapGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>

@using (Html.BeginForm("KitapGuncelle", "TblKitaps", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            <label>Kitap ID</label>
            @Html.TextBoxFor(y => y.KitapId, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kitap Adı</label>
            @Html.TextBoxFor(y => y.Ad, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Kategori</label>
            @Html.DropDownListFor(k => k.KategoriNavigation.KategoriId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Yazar</label>
            @Html.DropDownListFor(k => k.YazarNavigation.YazarId, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Basım Yılı</label>
            @Html.TextBoxFor(y => y.BasimYil, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Yayın Evi</label>
            @Html.TextBoxFor(y => y.YayinEvi, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Sayfa Sayısı</label>
            @Html.TextBoxFor(y => y.Sayfa, new { @class = "form-control" })
        </div>


    </div>
    <button class="btn btn-warning">Kitap Bilgilerini Güncelle</button>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model.KitapId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
